<h1>Your New Image</h1>

<p>Your information was saved.</p>
<img src="<%= @new.source %>" width="200">
<p><%= @new.caption %></p>
<p>Image number <%= @new.id %></p>
<p><%= @new.source %></p>

<p>
  Return to
  <a href="http://localhost:3000">home page</a>
</p>
