<h1>Your Edited Image</h1>

<p>Your edits were saved.</p>
<img src="<%= @edit.source %>" width="200">
<p><%= @edit.caption %></p>
<p>Image number <%= @edit.id %></p>
<p><%= @edit.source %></p>

<p>
  Return to
  <a href="http://localhost:3000">home page</a>
</p>
